/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --page-background-color: #000028;
    --text-color: #FF0070;
    --page-background-image: url("../images/cover-image-dark.png");
    --page-font: 'IBM Plex mono';
    --page-tile-color: #DB00FF;
    --accent-color: #FF0070;
    --section-title-color: #000028;
    --paragraph-color: #F1B2CE;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
    background-color: var(--page-background-color);
  /* Вам также нужно будет написать ряд подобных селекторов */
}
