:root {
    --page-background-color: #000028;
    --text-color: #FF0070;
    --page-background-image: url("../images/cover-image-dark.png");
    --page-tile-color: #DB00FF;
    --accent-color: #FF0070;
    --section-title-color: #000028;
    --paragraph-color: #F1B2CE;
    --page-font: 'IBM Plex mono';
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-color: var(--page-background-color);
    font-family: var(--page-font), sans-serif;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header__title {
    color: var(--page-tile-color);
    font-weight: bold;
    font-size: 116px;
}

.header__theme-menu-button {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.header__theme-menu-item {
    list-style: none;
}